/*
Theme Name: MOSES Wordpress Theme 
Author: Causality
Description: MOSES Wordpress Theme built by Causality
Author URI: http://causality.com
Version: 1.0
*/

@import url(css/master.css);


/* Wordpress Default Styles */

/* Ensures content does not exceed $content_width in functions.php */
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}