        <section id="hero">
            <ul id="hero-buttons">
                <li><a href="" id="hero-button-yellow">ECONOMIC DIGNITY</a></li>
                <li><a href="" id="hero-button-darkyellow">Healthy & SUSTAINABLE Communities</a></li>
                <li><a href="" id="hero-button-orange">EDUCATION FOR ALL</a></li>
                <li><a href="" id="hero-button-purple">TRANSPARENCY and ACCOUNTABILITY</a></li>
                <li><a href="" id="hero-button-red">TRANSPORTATION EQUITY</a></li>
            </ul>
            <div id="home-slider">
                <img src="img/hero-image.jpg" alt="Moses Community">
            </div>
        </section>

        <section id="home-body-content">
            <div id="home-body-content-left">
                <div id="about-moses">
                    <p>MOSES is a community organizing nonprofit serving residents of Detroit, Michigan and its surrounding  metropolitan region. We support the development of strong grassroots leaders, and facilitate campaigns to address social justice issues.</p>
                </div>
                <div id="about-moses-text">
                    <img src="img/homepage-aboutus-image.jpg" alt="About Us">
                    <p id="red-top-border"></p>
                    <p>Guided by faith-based principles of social justice and fellowship, MOSES helps ordinary people find and exercise their civic power. When a community faces a problem, the members of that community are best equipped to solve it. MOSES provides residents with the skills they need to effectively address issues of community concern. We support historically marginalized communities, empowering residents to participate in the decision-making processes that affect their daily lives.</p>
                    <p>Political, social and economic circumstances in metro Detroit are ever changing, yet the essence of MOSES remains constant. We strive to facilitate a vibrant regional democracy, and to support the collective needs of our region’s people. </p>
                </div>
            </div>
            <div id="home-body-content-right">
                <div id="events-header">
                    <p>Events</p>
                </div>
                <img src="img/events-homepage-photo.jpg" alt="Events Photo">
                <div id="events-body">
                    <p id="events-red-text">17th Annual Martin Luther King Jr. Day Banquet is a Success!</p>
                    <p id="events-text">MOSES would like to thank everyone who participated in its annual banquet, held on January 20, 2014 at Burton Manor in Livonia. We were honored to welcome Senator Carol Moseley Braun as our keynote speaker this year. As the first (and as of now, only) African-American woman to be elected to the United States Senate, Senator Braun’s story is representative of the progress that has been made since Dr. King’s death, as well as the work that has yet to be done. With your support, we were able to reach our goal of 500 attendees this year. Thank you for joining us to celebrate our successes, and inspire us to take on the challenges of the coming year. </p>
                </div>
            </div>
        </section>

        <section id="homepage-quote">
            <p>Walking by faith, leading by example—Faith-based community organizing in Detroit</p>
        </section>