/*Mozilla Firefox Issues*/
@-moz-document url-prefix() { 
	
	header #navigation {
    	margin-top: 61px;
	}

	#hero{
		margin-top: 0px;
	}

	#hero #hero-buttons {
		padding-left: 0px;
		margin: 0px;
	}

	p{
		margin: 0px;
	}

	footer h2{
		margin:0px;
	}

	footer #footer-follow-us ul {
		padding-left:0px;
		margin-bottom: 83px;
	}

	#interior-content {
    	margin-top: -10px;
	}

	#menu-header-menu{
		padding-left:0px;
	}
}

/*Webkit Fixes*/
p {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}