// Events Plugin
.css-events-list{ 

	table{
		border-bottom: 1px solid grey;
		font-size: 12px;
		font-size: 0.857142857rem;
		line-height: 2;
		margin: 0 0 24px;
		margin: 0 0 1.714285714rem;
		width: 100%;

			thead{
				text-align: left;
			}

			th{
				font-size: 11px;
				font-size: 0.785714286rem;
				line-height: 2.181818182;
				font-weight: bold;
				text-transform: uppercase;
			}

			td {
				border-top: 1px solid grey;
				padding: 6px 10px 6px 0;
			}
	}
}