/* Global Styles */

.container{
	width:1140px;
	margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-push-off-screen{
	text-indent: -9999px;
}

*{
	font-family: $sans-serif;
}

a:hover{
	opacity:0.7;
}

ul{
	/*Clear stupid webkit defaults*/
	-webkit-padding-start: 0px; 
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

p{
	font-size: 14px;
	font-family: $sans-serif;
	line-height: 1.7;
}

@mixin footerH2{
	font-size: 24px;
	font-weight: 400;
	font-family: $serif;
	text-transform: uppercase;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	letter-spacing: 1px;
	color:white;
}

h1, h2, h3, h4, h5, h6{
	font-family: $serif;
	text-transform: uppercase;
	color:$moses-red;
}

/*Header*/

header{
	.moses-logo{
		background-position: -6px -104px ;
		width: 381px;
		height: 147px;
		display: inline-block;
		float: left;
		margin-top: 20px;
	}

	#social-and-donate{
		float: right;

		.facebook-header, .twitter-header, .youtube-header{
			margin: 0px 25px 0px 0px;
			display:inline-block;
			padding-top: 5px;
		}

		.facebook-header{
			background-position: -109px -8px ;
			width: 33px;
			height: 32px;
		}

		.twitter-header{
			background-position: -59px -9px ;
			width: 33px;
			height: 32px;
		}

		.youtube-header{
			background-position: -10px -9px ;
			width: 33px;
			height: 32px;
		} 

		#donate-button{
			font-size: 20px;
			font-family: $serif;
			color:white;
			text-decoration: none;
			background-color: $moses-red;
			padding:17px 17px 14px 17px;
			display: inline-block;
			@include textShadow;
		}
	}

	#navigation{
		float: right;
		display: inline-block;
		margin-top: 79px;

		ul{
			list-style: none;
			display: inline-block;

			li{
				display: inline;

				a{
					color: $moses-purple;
					text-decoration: none;
					font-family:$serif;
					font-size: 14px;
					margin-left: 15px;
					text-transform: uppercase;
				}
			}
		}
	}
}


/*Homepage Hero*/

#hero{
	margin-top: 15px;

	#hero-buttons{
		list-style: none;
		display: inline-block;

		li{

			a{
				color:white;
				text-decoration: none;
				font-family: $serif;
				font-size: 20px;
				text-transform: uppercase;
				display: block;
				width:490px;
				line-height: 70px; /*Instead of using 'height', use 'line-height' to get text to vertical center align*/
				margin-bottom: 10px;
				text-align: center;
				@include textShadow;
				letter-spacing: 1px;

				&:hover{
					background-color: $moses-purple !important;
					opacity: 1; 
				}
			}
		}
		#hero-button-yellow{
	    	background-color: #ffcd07;
		}

		#hero-button-darkyellow{
		    background-color: #edab0d;
		}

		#hero-button-orange{
		    background-color: $moses-orange;
		}

		#hero-button-purple{
		    background-color: $moses-purple;
		}

		#hero-button-red{
		    background-color: $moses-red;
		    margin-bottom: 0px;
		}
	}

	#home-slider{
		display: inline-block;
		float: right;
	}
}

#homepage-quote{
	display: block;
	clear: both;
	padding: 15px 0px;

	p{
		text-align: center;
		font-size: 31px;
		font-family: $serif;
		color:$moses-red;
	}
}


/*Homepage Body Content*/

#home-body-content{

	#home-body-content-left{
		width: 678px;
		display: inline-block;
		float:left;

		#about-moses{
			margin-top:45px;
			
			p{
				font-size: 25px;
				color:$moses-red;
				font-family: $serif;
				line-height: 1.4;
				text-align: justify;
				width:643px;

			}
		}

		#about-moses-text{
			margin-top: 25px;

			img{
				float: left;
			}

			p{
				float: right;
				width: 350px;
				margin: 33px 0px 0px 0px;
			}

			#red-top-border{
				border-top: 3.5px solid $moses-red;
				margin:0px; 
			}
		}
	}

	#home-body-content-right{
		margin-top: 27px;
		width: 430px;
		display: inline-block;
		float:right;
	
		#events-header{
			line-height: 50px;
			width: 100%;
			background-color: #e84b37;
			
			p{
				text-transform: uppercase;
				font-family: $serif;
				@include textShadow;
				color:white;
				text-align: center;
				padding: 6px 0px;
				font-size: 20px;
				letter-spacing: 1px;
			}
		}

		#events-body{
			background-color: #d8d5d4;
			margin-top: -5px;
			height: 417px;

			p{
				margin:0px 25px;
			}

			#events-red-text{
				color: $moses-red;
				font-size: 23px;
				font-family: $serif;
				padding-top:10px;
				line-height: 1.5;
			}
			
			#events-text{
				padding-top:5px;
				font-size: 14px;
				line-height: 1.8;
			}
		}


	}
}

/*Footer*/

footer{
	height: 260px;
	width: 100%;
	background-color: $moses-red;
	color:white;

	#footer-contact-us{
		width:510px;
		display: inline-block;
		float: left;

		.moses-white-logo{
			background-position: -325px 0;
			width: 48px;
			height: 97px;
			margin-top: 30px;
			display: inline-block;
			float: left;
		}

		#footer-contact-info{
			display: inline-block;
			margin-left: 10px;
			margin-top: 30px;

			h2{
				@include footerH2;
			}

			p{
				font-family: $sans-serif;
				font-size: 11px;
				color:white;
				padding-top: 15px;
			}
		}

	}
    #footer-follow-us{
		width:220px;
		display: inline-block;
		margin-top: 30px;

		h2{
			@include footerH2;
		}

		ul{
			list-style: none;
			margin-top: 15px;
			margin-bottom: 80px;

			li{
				display: inline;
				margin-right: 10px;
			}
		}
		.facebook-footer{
			background-position: -204px -6px ;
			width: 41px;
			height: 40px;
			display: inline-block;
		}

		.twitter-footer{
			background-position: -154px -5px ;
			width: 40px;
			height: 40px;
			display: inline-block;
		}

		.youtube-footer{
			background-position: -253px -6px ;
			width: 41px;
			height: 40px;
			display: inline-block;
		}

		p{
			a{
				color:white;
				font-size: 12px;
				font-weight: 700;
				text-decoration: none;
				text-transform: uppercase;
			}
		}                    
    }

    #footer-action-alert{
		width:395px;
		display: inline-block;
		float: right;
    }

    .white-bottom-border{
		border-top:1px solid white;
		width:200px;
		padding-top: 0px !important;
	}

	#footer-action-alert{
		background-color: $moses-orange;
		height: 260px;
		width: 405px;
		display: inline-block;

		h2{
			font-size: 40px;
			font-weight: 400;
			text-transform: uppercase;
			-webkit-margin-before: 0em;
			-webkit-margin-after: 0em;
			letter-spacing: 1px;
			text-align: center;
			font-family: $serif;
			margin-top: 40px;
			color:white;
		}

		p{
			font-family: $serif;
			text-align: center;
			font-size: 17px;
			line-height: 1.5;
			margin:0px 50px;
		}

		img{
			margin: 20px;
		}
	}
}


/*Interior Pages*/
#interior-content{
	margin-top: 20px;
	margin-bottom: 50px;
	min-height:500px;

	a{
		color:$moses-red;
		text-decoration: none;
		font-weight: 700;
	}

	#interior-header-image{
		width: 1140px;
		height:120px;
		background: url("../img/interior-page-header.jpg") no-repeat;

		h1{
			color:white;
			font-family: $serif;
			@include textShadow;
			font-size: 50px;
			margin-left:30px;
			padding-top:25px;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
	}

    #interior-page-text{
		margin:40px 0px 0px 44px;
		width:720px;
		display: inline-block;
		float: left;

		h2{
			font-family: $serif;
			text-transform: uppercase;
			color:$moses-red;
			-webkit-margin-before: 0em;
			-webkit-margin-after: 0em;
			margin: 25px 0px 5px 0px;

			&:first-of-type{
				margin: 0px 0px 5px 0px;
			}
		}

		p, li{
			font-family: $sans-serif;
			line-height: 1.9;
			font-size: 14px;
			margin-bottom: 20px;
		}

		ul{
			padding-left: 40px
		}

		#placeholder-image{
			margin:10px 0px;
		}
    }
    
    #interior-page-quote{
    	width:265px;
		display: inline-block;
		float: right;
		margin-right: 47px;

		p{
			margin-top: 200px;
			border-left: 3px solid $moses-red;
			font-size: 23px;
			color:$moses-red;
			line-height: 1.6;
			font-family: $serif;
			padding-left:20px
		}
    }
}


