/* File to hold variables for ALL scss files in project */

/*Colors*/
$moses_purple: #605270;
$moses_orange: #E28431;
$moses_red: #BF311A;
$moses_pink: #E74B37;

/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Cardo|Open+Sans:400,700);
$sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$serif: 'Cardo', Georgia, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

@mixin textShadow{
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

/*Sprites*/
.facebook-header, .twitter-header, .youtube-header, .facebook-footer, .moses-logo, .moses-white-logo, .twitter-footer, .youtube-footer{
	
	background: url(sprites/sprites.png) no-repeat; /*Have to place sprites in same folder as css file*/
}